<div class="container header-title"></div>
<div class="container main-page-buttons">
  <h3>An accountless and permissionless one time reference to your <br>
    <span
     class="txt-rotate aqua"
     data-period="2000"
     data-rotate='["BTC wallet.", "Passwords file.", "Digital currency distribution.", "And more!"]'></span>
  </h3>
  <h4>Save and share notes securely.</h4>
  <div class="row">
    <div class="col">
      <a class="btn btn-primary btn-lg safe-btn" href="/build-text" role="button">Build a safe</a>
      <a class="btn btn-primary btn-lg safe-btn" href="/retrieve-login" role="button">Open a safe</a>
    </div>
  </div>
</div>

<div class="container note">
  <p>To discuss different use cases, please contact <a href="https://twitter.com/moeghashim" target="_blank">@moeghashim</a></p>
</div>

<script async src="/js/rotate.min.js"></script>
<script async src="https://www.googletagmanager.com/gtag/js?id=<GTAG_ID>"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', '<GTAG_ID>');
</script>
