<div class="container header-title">
  <span>12 words phrase</span>
</div>
<div class="container">
  <form action="/retrieve-mnemonic" method="post">
    <div class="form-row">
      <div class="col-xs">
        <input type="text" name="mnemonic[]" class="form-control add-form" placeholder="First word">
      </div>
      <div class="col-xs">
        <input type="text" name="mnemonic[]" class="form-control add-form" placeholder="Second word">
      </div>
      <div class="col-xs">
        <input type="text" name="mnemonic[]" class="form-control add-form" placeholder="Third word">
      </div>
      <div class="col-xs">
        <input type="text" name="mnemonic[]" class="form-control add-form" placeholder="Forth word">
      </div>
      <div class="col-xs">
        <input type="text" name="mnemonic[]" class="form-control add-form" placeholder="Fifth word">
      </div>
      <div class="col-xs">
        <input type="text" name="mnemonic[]" class="form-control add-form" placeholder="Sixth word">
      </div>
      <div class="col-xs">
        <input type="text" name="mnemonic[]" class="form-control add-form" placeholder="Seventh word">
      </div>
      <div class="col-xs">
        <input type="text" name="mnemonic[]" class="form-control add-form" placeholder="Eighth word">
      </div>
      <div class="col-xs">
        <input type="text" name="mnemonic[]" class="form-control add-form" placeholder="Ninth word">
      </div>
      <div class="col-xs">
        <input type="text" name="mnemonic[]" class="form-control add-form" placeholder="Tenth word">
      </div>
      <div class="col-xs">
        <input type="text" name="mnemonic[]" class="form-control add-form" placeholder="Eleventh word">
      </div>
      <div class="col-xs">
        <input type="text" name="mnemonic[]" class="form-control add-form" placeholder="Twelvth word">
      </div>
    </div>
    <div class="form-group">
      <label for="safe_code">Safe's Code</label>
      <input type="text" class="form-control" name="safe_code" id="safe_code" placeholder="Safe Code">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>

<div class="container note">
  <p>Important: The safe content will be deleted upon retrieving it.</p>
</div>