<div class="container header-title">
  <span>Build the reference</span>
</div>
<div class="container">
  <form action="/build-text" method="post">
    <div class="form-group">
      <label for="asset1">First Asset</label>
      <input type="text" class="form-control" name="text[]" id="asset1" placeholder="Ex: My BTC is in Coinbase.">
    </div>
    <div class="form-group">
      <label for="asset2">Second Asset</label>
      <input type="text" class="form-control" name="text[]" id="asset2" placeholder="Ex: My ETH is in Jaxx.">
    </div>
    <div class="form-group">
      <label for="asset3">Third Asset</label>
      <input type="text" class="form-control" name="text[]" id="asset3" placeholder="Ex: My LTC is in Coinbase, Bittrex, Binance and Jaxx.">
    </div>
    <button type="submit" class="btn btn-primary">Next</button>
  </form>
</div>
